<div class="container">
  <h2 class="title-lg" mb>Рецепт <%= @recipe.title %></h2>

  <p class="mt">Ингредиенты:<br>
    <p class="mr"><%= @recipe.body%></p>
  </p>
  <p class="mb-sm">Создатель: <%= @user.name%></p>

  <div class="mt">
    <%= link_to fa_icon('pencil'), edit_recipe_path(@recipe), title: "Редактировать рецепт" %>
    <%= button_to fa_icon('trash-o'), recipe_path(@recipe), method: :delete, title: "Удалить рецепт" %>
  </div>

  <p class="mt"><%= link_to "Все рецепты",root_path%></p>
</div>