<div class="container">
<h2 class="title-lg mb" >Профиль</h2>

    <p class="mr-sm">
        <%= "@#{current_user.name}" %>
    
    </p>

    <div class="mt">
        <%= link_to fa_icon('pencil'), edit_user_path(@user), title: "Изменить профиль" %>
        <%= button_to fa_icon('trash-o'), user_path(@user), method: :destroy, title: "Удалить профиль" %>
    </div>

    <p class="mt">
        <%= link_to "Добавить рецепт", new_recipe_path, class: "button button-main" %>
    <p>  
    
    <p class ="mt-lg">
        <span class = "text-sm"> <%= link_to "Вернуться на главную страницу", :back %></span>
    </p>
</div>